@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Shadows Into Light", cursive;
}

body {
  margin: 0;
}
.searchbar {
  height: 2rem;
  margin: 10px 0;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
