@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Shadows Into Light", cursive;
}

body {
  margin: 0;
}
.container {
  max-width: 1800px;
  text-align: center;
}
